<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'ffxiv_tools/pasture_style.css' %}"> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="flex flex-outer">
        <div class="flex flex-inner inner-left">
            <div>
                Header and Size Selector
                <div class="dropdown">
                    <button class="drop-button" id="size-drop-button">Sizes</button>
                    <div class="drop-container" id="size-drop">
                        <button onclick="dropSelectFunction('animal-slot', '.small'); clearSlots('small')" class="drop-choice">Small</button>
                        <button onclick="dropSelectFunction('animal-slot', '.medium'); clearSlots('medium')" class="drop-choice">Medium</button>
                        <button onclick="dropSelectFunction('animal-slot', '.large')" class="drop-choice">Large</button>
                    </div>
                </div>
                <button onclick="clearSlots('all-slots')">Clear All</button>
            </div>
            <div class="selected-animals">
                <h3>Name | Item 1 | Item 2</h3>
                {% for slot in animal_slot %}
                    {% if forloop.counter <= 5 %}
                    <div class="animal-slot small medium large">
                    </div>
                    {% endif %}
                    {% if forloop.counter > 5 and forloop.counter <= 10 %}
                    <div class="animal-slot medium large">
                    </div>
                    {% endif %}
                    {% if forloop.counter > 10 and forloop.counter <= 20 %}
                    <div class="animal-slot large">
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-inner inner-mid">
            <div>
                <!-- Item filter dropdown menus -->
                <div class="dropdown">
                    <button class="drop-button" id="item-all-drop-button">All Items</button>
                    <div class="drop-container" id="item-all-drop">
                        <button onclick="dropSelectFunction('drag-animal', '.drag-animal')" class="drop-choice" id="animal-show-all">Show All</button>
                        {% for item in item_list %}
                            <button onclick="dropSelectFunction('drag-animal', '.{{ item.item_name }}-one, .{{ item.item_name }}-two')" class="drop-choice" id="{{ item.item_name }}-all">{{ item.item_name }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="dropdown">
                    <button class="drop-button" id="item1-drop-button">Item One</button>
                    <div class="drop-container" id="item1-drop">
                        <button onclick="dropSelectFunction('drag-animal', '.drag-animal')" class="drop-choice" id="animal-show-one">Show All</button>
                        {% for item in item_list %}
                            <button onclick="dropSelectFunction('drag-animal', '.{{ item.item_name }}-one')" class="drop-choice" id="{{ item.item_name }}-one">{{ item.item_name }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div class="dropdown">
                    <button class="drop-button" id="item2-drop-button">Item Two</button>
                    <div class="drop-container" id="item2-drop">
                        <button onclick="dropSelectFunction('drag-animal', '.drag-animal')" class="drop-choice" id="animal-show-two">Show All</button>
                        {% for item in item_list %}
                            <button onclick="dropSelectFunction('drag-animal', '.{{ item.item_name }}-two')" class="drop-choice" id="{{ item.item_name }}-two">{{ item.item_name }}</button>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- List of all animals -->
            <div class="animal-list">
                {% for animal in animal_list %}
                    <li draggable="true" class="animal drag-animal {{ animal.item_1 }}-one {{ animal.item_2 }}-two">
                        {{ animal.animal_name }} | 
                        {{ animal.item_1 }} |
                        {{ animal.item_2 }}
                    </li>
                {% endfor %}
            </div>
        </div>
        <div class="flex flex-inner inner-right">
            <div>
                <div class="dropdown">
                    <button class="drop-button" id="feed-drop-button">Feed Selector</button>
                    <div class="drop-container" id="feed-drop">
                        {% for feed in feed_list %}
                            <button onclick="dropSelectFunction('feed-choice', '.{{ feed.feed_name|cut:" " }}')" class="drop-choice">{{ feed.feed_name }}</button>
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <table class="feed-list">
                        <thead>    
                            <tr>
                                <th scope="col">Selected Feed</th>
                                <th scope="col">Multiplier</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feed in feed_list %}
                                <tr class="feed-choice {{ feed.feed_name|cut:' ' }} {% cycle 'none-display' ''  'none-display' %}">
                                    <th scope="row">{{ feed.feed_name }}</th>
                                    <td class="feed-mult">{{ feed.mood_mult }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                Calculations
                <table class="item-list">
                    <thead> 
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">First</th>
                            <th scope="col">Second</th>
                            <th scope="col">Total</th>
                            <th scope="col">Suggested</th>
                        </tr>
                    </thead>    
                    <tbody>
                        {% for item in item_list %}
                            <tr>
                                <th scope="row">{{ item.item_name }}</th>
                                <td id="{{ item.item_name }}-count-one">0</td>
                                <td id="{{ item.item_name }}-count-two">0</td>
                                <td id="{{ item.item_name }}-total">0</td>
                                <td>{{ item.suggested_num }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="{% static 'ffxiv_tools/js/calculation.js' %}"></script>
    <script src="{% static 'ffxiv_tools/js/dropdown.js' %}"></script>
    <script src="{% static 'ffxiv_tools/js/dragdrop.js' %}"></script>
</body>
</html>