body {
    font-family: "Droid Sans Mono", sans-serif;
}

h1 {
    font-size: 23px;
    font-weight: 700;
    line-height: 23px;
}

h3 {
    font-size: 17px;
    font-weight: 700;
    line-height: 23px;
}

p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

blockquote {
    font-size: 17px;
    font-weight: 400;
    line-height: 23px;
}

pre {
    font-size: 11px;
    font-weight: 400;
    line-height: 23px;
}

/* Flex box styling for page layout */
.flex {
    display: flex;
}

/* Outer container */
.flex-outer {
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    background-color: #7a4988;
}

/* Inner third sections */
.flex-inner {
    flex-direction: column;
    align-items: center flex-start;
    background-color: #74ccff;
    outline: solid black;
    outline-width: thick;
    border-radius: 10px;
    margin-top: 16px;
    margin-left: 13px;
    margin-right: 13px;
    column-gap: 10px;
}

.inner-top {
    width: 570px;
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
    max-width: 858px;
}

.inner-left {
    width: 450px;
    flex-basis: 450px;
}

.inner-right {
    width: 450px;
    flex-basis: 450px;
    padding-left: 3px;
    padding-right: 3px;
}

/* Dropdown menu styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.drop-container {
    display: none;
    position: absolute;
}

.block-display {
    display: block;
}

.none-display {
    display: none;
}

/* Drag and drop elements */
.animal-slot {
    height: 26px;
    border-radius: 10px;
    border: solid 4px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.animal {
    height: 22px;
    flex-grow: 1;
    border-radius: 8px;
    border: solid 4px;
    display: flex;
    align-items: start;
    padding-left: 3px;
    padding-right: 3px;
}

.drag-animal {
    margin: 2px;
}

.left {
    flex-basis: 190px;
    flex-grow: 2;
}

.center {
    flex-basis: 85px;
    flex-grow: 1;
}

.right {
    flex-basis: 85px;
    flex-grow: 1;
}

table {
    text-align: left;
    border-collapse: collapse;
}

th {
    font-weight: 400;
}

tr {
    border: dashed thin;
}

td {
    font-weight: 700;
}
