body {
    font-family: "myriad pro", sans-serif;
}

/* Flex box styling for page layout */
.flex {
    display: flex;
}

/* Outer container */
.flex-outer {
    flex-flow: row wrap;
    align-items: flex-start;
    background-color: #7a4988;
    gap: 24px;
}

/* Inner third sections */
.flex-inner {
    flex-direction: column;
    align-items: center flex-start;
    background-color: #74ccff;
    outline: solid black;
    outline-width: thick;
    border-radius: 10px;
    margin: 24px;
}

.inner-left {
flex-grow: 5;
}

.inner-mid {
flex-grow: 4;
}

.inner-right {
flex-grow: 1;
}

/* Dropdown menu styling */
.dropdown {
    position: relative;
    display: inline-block;
}

.drop-container {
    display: none;
    position: absolute;
    z-index: 1;
}

.block-display {
    display: block;
}

.none-display {
    display: none;
}

/* Drag and drop elements */
.animal-slot {
    height: 31px;
    border-radius: 10px;
    border: solid 4px;
    margin: 1px;
    display: flex;
    align-items: center;
}

.animal {
    height: 27px;
    flex-grow: 1;
    border-radius: 8px;
    border: solid 4px;
}

.drag-animal {
    margin: 1px;
}